*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(241, 189, 92);
}
#corpo{
    background-color:#f3ccf6;
    opacity: 90%;
    margin-left: 50%;
    margin-top: 40px;
    transform: translateX(-50%);
    width:  908px;  
}

#pinceis{
    height: 169px;
    margin-bottom: 4px;
}
#madeira{
    height: 169px;
    margin-bottom: 4px;    
}
#tintas{
    height: 169px;
    margin-bottom: 4px;
}
#madeira img{
    display: inline;
    width: 300px;
}
#tintas img{
    display: inline;
    width: 300px; 
}
#pinceis img{
    display: inline;
    width: 300px;
}
#texto {
    display: inline-block;
    color: black;
    width: 300px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    transform: translate(0,-150%);
    /* background-color: purple;   */         
}
#texto2 {
    display: inline-block;
    color: black;
    width: 300px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: left;
    transform: translate(0,-20%);           
}
#redes img{
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}
#redes{
    margin-top: 40px;
    margin-left: 50%;
    width: 220px;
    transform: translateX(-50%);
    
}
#endereco{
    text-align: center;
    display: block;
    font-family:'Amatic SC', cursive;
    font-size: 25px;
    margin-top: 100px;
    color: rgb(158, 23, 192) ;
     
}
#news{
    margin-top: 15px;
    margin-left: 50%;
    display: inline;
    color: white;    
}
a{
    text-decoration: none;
}



@media screen and (max-width:800px) {

#corpo{
    width:  458px;
    overflow: hidden; 
}
#corpo img{
    width: 150px;
}
#texto, #texto2{
    width: 150px;
    font-size: 19px;    
}
#madeira,#pinceis,#tintas{
    height: 80px;
}
#endereco {
    font-size: 12px;
    font-family:'Amatic SC', cursive;
    font-weight: normal;
    color: rgb(158, 23, 192) ;
    
}
    
}